#formulario {
    width: 400px;
    margin: auto;
    border-color: #606060;
}

#formulario p {
    text-indent: 0px;
    text-align: left;
}

#sexo {
    width: 100px;
    padding: 0px;
}

input {
    background-color: rgba(255, 255, 255, .2);
    border: 1px solid #606060;
}

textarea {
    background-color: rgba(255, 255, 255, .2);
    border: 1px solid #606060;
}

fieldset {
    background-color: rgba(255, 255, 255, .2);
    margin-bottom: 20px;
}

fieldset legend {
    color: #888;
    font-weight: bold;
}

#id-numero {
    width: 50px;
}

#id-msg {
    width: calc(100% - 20px);
    height: 100px;
}

#usuario {
    background-image: url("../images/icone-contato.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

#endereco {
    background-image: url("../images/icone-endereco.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

#mensagem {
    background-image: url("../images/icone-mensagem.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

#compra {
    background-image: url("../images/icone-pagamento.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

#envio {
    background-image: url("../images/botao-enviar.png");
    background-repeat: no-repeat;
    width: 100px;
    height: 40px;
    background-size: 100%;
    background-position: 0px 0px;
    border: none;
}

#envio:hover {
    filter: brightness(80%);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
}